*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

body{
    font-family: 'Inter',sans-serif;
    margin: 20px;
    background-color: rgb(228, 228, 228);
}

.header{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.header h1{
    color: rgb(72, 72, 255);
    font-size: 2.5rem;
}

.header p{
    color: gray;
    font-size: 1.2rem;
    margin-top: 5px;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 15px;

}

@media (min-width: 7680px){
    .main-grid{
        grid-template-columns: 1.2fr 1fr;
        gap: 20px;
    }
}

.card{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 6px -1px gray;
}

h2{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 5px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-top: 20px;
}

input[type="text"],
input[type="number"],
select{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
    font-size: 0.9rem;
}

input:focus,select:focus{
    outline: none;
    border: 1px solid rgb(72, 72, 255);;
}

.radio-group, .checkBox-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.radio-group label, .checkBox-group label{
    display: flex;
    gap: 5px;
    margin: 5px;
}

.btn-primary{
    width: 100%;
    background-color: rgb(80, 80, 255);
    color: white;
    padding: 8px;
    border: none;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}