*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

body{
    font-family: 'Inter',sans-serif;
    margin: 20px;
}

.header{
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
}

.header h1{
    color: rgb(72, 72, 255);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 2rem;
}

.header p{
    color: gray;
    font-size: 1.2rem;
}